/* Background */
.bg {
    background-image: url("https://images.shiksha.com/mediadata/images/articles/1663140152phpXSSwBq.jpeg");
    background-size: cover;
    background-position: center;
}

/* Login Box */
.login-container {
    width: 350px;
    margin: 140px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

.login-container input,
.login-container button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.login-container button {
    background: #FF6A00;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* Navigation Menu */
.nav-menu {
    position: absolute;
    top: 20px;
    right: 30px;
}

.nav-menu button {
    background: #0E4DE2;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.menu-items {
    display: none;
    width: 200px;
    background: white;
    position: absolute;
    right: 0;
    top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

.menu-items a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
}
.menu-items a:hover { background: #eee; }

/* Profile Layout */
.profile-box {
    width: 450px;
    margin: 120px auto;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

.profile-row {
    margin: 10px 0;
    font-size: 18px;
}

.label { font-weight: bold; }

/* Attendance Table */
.table-container {
    width: 90%;
    margin: 120px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

.center-title { text-align: center; margin-bottom: 18px; }

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.attendance-table th {
    background: #0056D2;
    color: white;
    padding: 10px;
}

.attendance-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.total-row { font-weight: bold; }

/* Absence Table */
.absence-box {
    width: 450px;
    margin: 120px auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
    padding: 20px;
}

.absence-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}

.absence-table td {
    padding: 12px 0;
    border-bottom: 1px solid #aaa;
}

.circle {
    background: #0E4DE2;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin: auto;
}
