.absence-container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.absence-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    font-size: 18px;
}

.absence-table tr {
    border-bottom: 1px solid #cfcfcf;
}

.absence-table td {
    padding: 10px 5px;
}

.circle {
    width: 30px;
    height: 30px;
    background: #0066ff;
    color: white;
    border-radius: 50%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
